<h1> Hello from edit page </h1>
<%= form_for(resource, as: resource_name,
                       url: settings_path(resource_name),
                       html: {method: :patch}) do |f| %>

<%= current_user.id %><br>
<%= f.label :bio %>
<%= f.text_field :bio %>

<%= current_user.bio %><br>
<%= f.submit %>
<% end %>
