<!DOCTYPE html>

<html>
<head>
<title>Dream Memes</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<body>
<div class="main">
    <section>
			<h5><span> Dream memes </span></h5>
		   <div class="container">
         <% if user_signed_in? %>
           <% @user.each do |user| %>
             <% unless user.id == current_user.id %>
               <div class="user">
                 <%= image_tag user.image.url(:thumb) %><br />
                 <%= user.username %><br />
                 <%= user.gender %><br />
                 <%= user.location %><br/>
                 <%= user.id %><br/>
                 <%= link_to 'View profile', profile_path(user.id) %><br/>
                   <br />
                 </div>
             </br/>
             <% end %>
           <% end %>
         <% end %>
    </section>
</div>
</body>
</html>
