  <section class="section-padding">
  <div class="container">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <%= image_tag @user.image.url(:medium), :class=>"user-image" %>
      </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="username"><h2><%= @user.username %></h2></div>
        <h5>Bio: <%= @user.bio %></h5>
        <h5>Gender: <%= @user.gender%></h5>
        <h5>Interested in: <%= @user.interested_in%></h5>
    </div>
    </div>
    </section>


    <section class="meme-gallery">
    <div class="profile-text">
   <h2><span class="white-text">Me in Memes</span></h2>
     <% if current_user == @user %>
     <h5><%=link_to 'Add Memes +', meme_gallery_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></h5>
     <% end %>
     <div class="row">
        <%@memes.each do |meme| %> 
        <div class="col-md-15 col-xs-3 meme-gallery">
          <%=image_tag meme.name, :style=>"height: 240px; width: 240px; border-radius: 20px; padding: 2px; margin: 20px 120px"%> 
            <%if current_user == @user %>
            <p><%=link_to 'Delete meme x'%></p>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>

  </section>

  <section>
  <div class="profile-text">
  <%if current_user!=@user%>
  <%= link_to 'Talk to me!', chats_path, :class=> "btn btn-info"%>
  <% end %>
  </div>
  </section>

<section style="padding: 20px;">
    <% if current_user == @user %>
    <div class="col-sm-6">
   <%= link_to 'Delete Account', user_path, :class=> "btn btn-danger", method: :delete,  :style=>"float:left; margin: 50px;" %>
   </div>
   <div class="col-sm-6">
   <%= link_to 'Edit Account', edit_user_path, :class=> "btn btn-success", :style=>"float: right; margin: 50px;" %>
    </div>
   <% end %>
</section>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

