<!DOCTYPE html>

<html>
<head>
<title>Be My Meme</title>
</head>

<body>
	<section>
        <div class="profile-text">
       <h2><%= @user.username %></h2>
        <div class="profile-image">
        <%=image_tag @user.image.url, :style=>"height: 500px; width: 500px;" %>
   	  </div>
  	   <h3>About them</h3>
  	   <p><%= @user.bio %></p>
  	</div>
      </section>
    <section>
      <div class="profile-text">
    	<h5> Me in Memes </h5>
      <%@memes.each do |meme| %> 
      <%=image_tag meme.name, :style=>"height: 200px; width: 200px;" %> 
      <%end%>
      </div>
    </section>
       

  <section>
  <div class="profile-text">
    <%=link_to 'Chat to me!', chats_path, :class=>"btn btn-info"%>
  </div>
  </section>

</body>
</html>
