<!DOCTYPE html>

<html>
<head>
<title>Be My Meme</title>
</head>
<body>
<div class="wrap">
   <div class="section group example">
      <div class="profile-text">
      <div class="username"><h2><%= current_user.username %></h2></div><br/>
      <div class="profile-image">
      <%= image_tag current_user.image.url(:medium) %>
      </div>
    <h4>About Me</h4>
    <p><%= current_user.bio %></p>
    </div>
    <div class="clear"></div>
    </div>
  </div>


    <section>
      <div class="profile-text">
	 <h5> Me in Memes </h5>
	 <%= link_to 'Add Memes', meme_gallery_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
        <div class="container">
        <%@memes.each do |meme| %> 
        <div class="user-meme">
          <%=image_tag(meme.name)%> 
        </div>
        <%end%>
        </div>	    
    </div>
  </section>

  <section>
  <%= link_to 'Talk to me!', chats_path, method: :post%>
  </section>

</body>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content"></div>
 </div>
</div>

</html>
